{% extends 'blog/navbar.html' %}
{% load static %}
{% block team %}


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    

    

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
                    <div class="blog-entry">
                    <a href="blog-single.html" class="img-link">
                        <img src='{% static "images/hero_1.jpg" %}' alt="Image" class="img-fluid">
                    </a>
                    <div class="blog-entry-contents">
                        <h3><a href="#">Top Companies That Are Best In Industrial Business</a></h3>
                        <div class="meta">Posted by <a href="#">Admin</a> In <a href="#">News</a></div>
                    </div>
                    </div>
                </div>
                <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
                    <div class="blog-entry">
                    <a href="blog-single.html" class="img-link">
                        <img src='{% static "images/hero_1.jpg" %}' alt="Image" class="img-fluid">
                    </a>
                    <div class="blog-entry-contents">
                        <h3><a href="#">Top Companies That Are Best In Industrial Business</a></h3>
                        <div class="meta">Posted by <a href="#">Admin</a> In <a href="#">News</a></div>
                    </div>
                    </div>
                </div>
                <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
                    <div class="blog-entry">
                    <a href="blog-single.html" class="img-link">
                        <img src='{% static "images/hero_1.jpg" %}' alt="Image" class="img-fluid">
                    </a>
                    <div class="blog-entry-contents">
                        <h3><a href="#">Top Companies That Are Best In Industrial Business</a></h3>
                        <div class="meta">Posted by <a href="#">Admin</a> In <a href="#">News</a></div>
                    </div>
                    </div>
                </div>

                
                
                <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
                    <div class="blog-entry">
                    <a href="blog-single.html" class="img-link">
                        <img src='{% static "images/hero_1.jpg" %}' alt="Image" class="img-fluid">
                    </a>
                    <div class="blog-entry-contents">
                        <h3><a href="#">Top Companies That Are Best In Industrial Business</a></h3>
                        <div class="meta">Posted by <a href="#">Admin</a> In <a href="#">News</a></div>
                    </div>
                    </div>
                </div>
                
            </div>

            <div class="row text-center mt-5">
                <div class="col-12">
                    <a href="#" class="p-3 d-inline-block">1</a>
                    <a href="#" class="p-3 d-inline-block">2</a>
                    <span class="p-3 d-inline-block text-black">3</span>
                    <a href="#" class="p-3 d-inline-block">4</a>
                    <a href="#" class="p-3 d-inline-block">5</a>
                </div>
            </div>
        </div>
    </div>
            
            
    
    

    
        <div class="row">
          <div class="col-12">
            <div class="copyright">
                <p>
                    
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |</a>
                    
                    </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>
  <!-- .site-wrap -->


  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15"/></svg></div>

    

{% endblock team %}